2015CSB1003_2015CSB1035/
*.aux
*.log
*.synctex.gz
*.asv
steering/
weight*
.checkstyle
.project
.pydevproject
*.mat
*.fig
__pycache__/
q2/test/*
*.tar.gz
*.eps
*.png
*eps-converted-to.pdf
results_*.txt
